.btn {
  display: block;
  letter-spacing: 1px;
  padding: 0.5rem 1.7rem;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  min-width: 100px;
  font-size: 0.9rem;
  border-radius: 50px;
  margin: 0 auto;
  font-weight: var(--body-bold);
}

.btn-primary {
  background-color: var(--theme-primary);
  color: var(--white);
  border: 1px solid var(--theme-primary);
  cursor: pointer;
  &:hover {
    background-color: var(--white);
    color: var(--theme-primary);
    border: 1px solid var(--theme-primary);
  }
}

.btn-secondary {
  background-color: var(--white);
  cursor: pointer;
  &:hover {
    background-color: var(--theme-primary);
  }
}

.btn-accent {
  background-color: var(--white);
  color: var(--theme-primary);
  border-radius: 50px;
  border: 1px solid var(--theme-primary);
  cursor: pointer;
  &:hover {
    background-color: var(--theme-primary);
    color: var(--white);
  }
}

.btn-bold{
  font-weight: var(--body-bold);
}

.btn-flex{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.center-center {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.absolute-bottom-center{
  z-index: 10;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-cross {
  cursor: pointer;
  float: right;
  @include icon;
}

.link-arrow {
  color: var(--theme-primary);
  margin-top: 30px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;

  svg {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    position: relative;
    top: 5px;
    left: 7px;
    fill: var(--theme-primary);
    width: 20px;
  }
  &:hover {
    color: var(--white);
    svg {
      fill: var(--white);
    }
  }
}

.link-arrow-right {
  margin-left: 35px;
}

.link-arrow-left {
  margin-right: 35px;
}

a.btn-back-icon {
  display: block;
}

.link-arrow--inline {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
