.card-default{
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  transition-duration: 0.3s;
}

.card-layup{
  position: relative;
  width: 100%;
  max-width: 1120px;
  height: auto;
  border-radius: 10px;
  @include shadow;
  background: rgb(0,0,0);
  background: linear-gradient(315deg, rgba(0,0,0,1) 35%, rgba(232,59,78,1) 100%);
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.imgBox{
  position: relative;
  width: 50%;
  height: 100%;
  transform: translateY(-60px);
  &:before{
    border-radius: 10px;
    @include gradientBackground;
  }
  img{
    position: relative;
    border-radius: 10px;
    width: 100%;
    @include shadow;
  }
}

.card-layup .content{
  display: table;
  width: 50%;
  padding: 0 2rem;
  .content-position{
    display: table-cell;
    vertical-align: middle;
    h2, h3{
      color: var(--white);
    }
    h2{
      font-family: var(--custom-font-2);
    }
    h3{
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}

a.card-layup:hover{
  .imgBox:before{
    animation: gradientBackground 1.5s linear infinite;
  }
  .content .content-position button{
    background-color: var(--theme-primary);
    color: var(--white);
  }
}

a figure.card-default:hover{
  background: rgb(79,19,26);
  background: linear-gradient(299deg, rgba(79,19,26,1) 0%, rgba(232,59,78,1) 61%);
}

.card-default figcaption{
  min-height: 60px;
  font-size: 0.8rem;
  display: table;
  width: 100%;
  > *{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem 1rem 1rem 1rem;
    color: var(--black);
  }
}

a figure.card-default.card-theme-primary{
  background-color: var(--theme-primary);
  figcaption > * {
    color: var(--white);
  }
}

.card-default.card-theme-primary:hover{
  background: rgb(182,228,247);
  background: linear-gradient(99deg, rgba(182,228,247,1) 0%, rgba(255,237,0,1) 36%, rgba(232,59,78,1) 54%, rgba(232,59,77,1) 77%, rgba(255,237,0,1) 86%, rgba(0,159,227,1) 100%);
  picture{
    position: relative;
    display: block;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--light);
      opacity: 0.2;
    }
  }
}

.card-button{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  &:hover{
    a:before{
      -webkit-box-shadow: inset 0px 0px 8px 8px rgba(0,0,0,0.45);
      box-shadow: inset 0px 0px 8px 8px rgba(0,0,0,0.45);
    }
    button{
      -webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.45);
      box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.45);
    }
  }
  a:before{
    background-color: var(--theme-primary);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition-duration: 0.3s;
  }
  button{
    @include absolute-center;
    padding: 1.5rem 2rem;
    color: var(--theme-primary);
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    background-color: var(--white);
    border-radius: 5px;
    font-weight: var(--body-bold);
    @include shadow;
    transition-duration: 0.3s;
  }
  figcaption{
    min-height: 60px;
    font-size: 0.8rem;
    display: table;
    width: 100%;
    > *{
      display: table-cell;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      padding: 0.5rem 1rem 1rem 1rem;
      color: var(--black);
    }
  }
}