.showcase{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(232,59,78,1) 100%);
  padding: 2rem 0;
  .video{
    position: relative;
    width: 100%;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 10px;
    overflow: hidden;
  }
  video{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}