/**
Form contact
 */
.form-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 800px;
}

.form-box{
  max-width: 850px;
  min-height: 650px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.form-box__left{
  height: 100%;
  background: url('../images/contact.jpg') no-repeat center;
  background-size: cover;
}

.form-box__right{
  padding: 0.5rem;
  button{
    margin-top: 20px;
  }
}

form h2{
  font-size: 2rem;
}

.form-box h2{
  text-align: center;
}

form h3{
  text-align: center;
  font-size: 1rem;
  color: var(--gray-dark);
  text-transform: uppercase;
}

form h4{
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

form p.description{
  font-size: 1.1rem;
  line-height: 1.6rem;
}

/**
FIELD SPAN PRECISION DU CHAMP
 */

form .field-info {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  svg{
    position: relative;
    top: 10px;
    margin-right: 10px;
    width: 20px;
    display: inline-block;
  }
}


@media screen and (max-width: 880px){
  form{
    div.form-box{
      grid-template-columns: 1fr;
    }

    div.form-box__left{
      height: 400px;
    }
  }
}

