.splash{
  position: relative;
  min-height: calc(850px - var(--header-top));
  height: calc(100vh - var(--header-top));
  width: 100%;
}

/**
------------- BACKGROUND IMAGE
 */

section{
  position: relative;
  z-index: 0;
}

.background-image-home-over{
  z-index: -1;
  position: absolute;
  height: auto;
}

.background-image-home-under{
  z-index: -2;
  position: absolute;
  height: auto;
}

.background-fruit-1{
  top: 0;
  left: 0;
  min-width: 500px;
  width: 80vw;
  max-width: 1000px;
  transform: rotate(-20deg) translateX(-7%) translateY(-60%);
}

.background-icecream-1{
  top: 0;
  right: 0;
  max-width: 1200px;
  min-width: 500px;
  width: 65vw;
  transform: translate(35%, -6%);
}

.background-fruit-2-1{
  top: -57px;
  left: 10vw;
  min-width: 90px;
  width: 12vw;
  max-width: 200px;
}

.background-fruit-2-2{
  top: -20px;
  left: 40vw;
  min-width: 90px;
  width: 12vw;
  max-width: 215px;
}

.background-fruit-2-3{
  top: 20vh;
  left: 25vw;
  min-width: 90px;
  width: 10vw;
  max-width: 215px;
}

.background-fruit-2-4{
  top: 30vh;
  left: 40vw;
  min-width: 70px;
  width: 8vw;
  max-width: 170px;
}

.background-fruit-2-5{
  top: 40vh;
  left: 50vw;
  min-width: 60px;
  width: 7.5vw;
  max-width: 150px;
}

.background-fruit-2-6{
  top: 60vh;
  left: 30vw;
  min-width: 50px;
  width: 6vw;
  max-width: 140px;
}

.background-icecream-2-2{
  top: 70vh;
  left: 50vw;
  max-width: 587px;
  min-width: 250px;
  width: 40vw;
  transform: translateX(-50%) translateY(-50%);
}

/**
------------- LOGO
 */
.home-logo{
  display: block;
  max-width: 1200px;
  width: 65vw;
  min-width: 280px;
  padding-top: 40vh;
  padding-bottom: 2vh;
  margin: 0 auto;
}
/**
------------- TEXT
 */
h1, h2, h3{
  color: var(--theme-primary);
  font-weight: var(--body-bold);
}

h1.big-title{
  color: var(--white);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}

h3.middle-title{
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  display: inline-block;
}

.intro{
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  @include flex-center;
  backdrop-filter: blur(5px);
  min-height: 250px;
  p {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: var(--body-bold);
    color: var(--white);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  }
}

/**
------------- HOME CARDS POSITION
 */
.display-thumb{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.display-thumb .card-default{
  margin: 0.5rem 0;
}

/**
------------- Hidden overflow
 */
.display-thumb-container{
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  overflow: hidden;
  .display-thumb-content{
    @include absolute-center;
    width: 100%;
  }
  &:before{
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 200px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 29%, rgba(0,0,0,0) 100%);
  }
  &:after{
    z-index: 1;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 29%, rgba(0,0,0,0) 100%);
  }
}

.display-thumb .card-default{
  @include medium-down{
    &:nth-child(1){
      animation: thumbSmallUp 10s linear infinite!important;
    }
    &:nth-child(2){
      animation: thumbSmallMiddle 10s linear infinite!important;
    }
    &:nth-child(3){
      animation: thumbSmallDown 10s linear infinite!important;
    }
  }
  &:nth-child(1){
    animation: thumbUp 10s linear infinite;
  }
  &:nth-child(2){
    animation: thumbMiddle 10s linear infinite;
  }
  &:nth-child(3){
    animation: thumbDown 10s linear infinite;
  }
}

.display-thumb-container .link-absolute-bottom-center{
  bottom: 100px;
  .btn{
    font-size: 1.3rem;
  }
}

.display-thumb .card-default figcaption h5{
  font-size: 2rem;
}

