<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <title>Document</title>
</head>
<body>
<header class="header">
    <a href="#" class="header__logo header__logo--up ml-10 hidden-down"><img src="../images/logo-iceRollDelice-inline.png" alt="logo iceroll delice"></a>
    <a href="#" class="header__logo header__logo--down hidden-up"><img src="../images/logo-iceRollDelice-inline.png" alt="logo iceroll delice"></a>
    <nav class="header__nav-links hidden-down">
        <ul>
            <li><a href="#" class="active">Accueil</a></li>
            <li><a href="#">Événement</a></li>
            <li><a href="#">Carte & Prix</a></li>
            <li><a href="#">Le concept</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#"><span class="iceroll-spirale"><img src="../images/iceroll-spirale.png"
                                                               alt="iceroll spirale"></span></a></li>
        </ul>
    </nav>
    <div class="navbar--groupe hidden-up">
        <a class="navbar--link" href="#">
            <button class="btn btn-accent">Devis</button>
        </a>
        <a class="navbar-toggle" href="#" id="header-icon-links">
            <svg height="21.667" id="menu" viewBox="0 0 30 21.667" width="30" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.75,125.305H1.25a1.321,1.321,0,0,1,0-2.637h27.5a1.321,1.321,0,0,1,0,2.637Zm0,0"
                      data-name="Tracé 1" id="Tracé_1" transform="translate(0 -113.153)"/>
                <path
                        d="M28.75,2.637H1.25A1.286,1.286,0,0,1,0,1.319,1.286,1.286,0,0,1,1.25,0h27.5A1.286,1.286,0,0,1,30,1.319,1.286,1.286,0,0,1,28.75,2.637Zm0,0"
                        data-name="Tracé 2" id="Tracé_2"/>
                <path d="M28.75,247.969H1.25a1.321,1.321,0,0,1,0-2.637h27.5a1.321,1.321,0,0,1,0,2.637Zm0,0"
                      data-name="Tracé 3" id="Tracé_3" transform="translate(0 -226.303)"/>
            </svg>
        </a>
    </div>
</header>
<!-- MOBILE NAVIGATION MENU -->
<aside class="mobile-menu mobile-menu--right mobile-menu-links clearfix">
    <div class="mobile-menu--container">
        <a class="exit-menu" href="#" id="exit-menu-links">
            <svg height="30" viewbox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg')}}">
                <path d="M29.728,24.1h0l-9.1-9.1,9.1-9.1h0a.94.94,0,0,0,0-1.326l-4.3-4.3a.94.94,0,0,0-1.326,0h0L15,9.376,5.9.275h0a.94.94,0,0,0-1.326,0l-4.3,4.3a.94.94,0,0,0,0,1.326h0l9.1,9.1-9.1,9.1h0a.94.94,0,0,0,0,1.326l4.3,4.3a.94.94,0,0,0,1.326,0h0l9.1-9.1,9.1,9.1h0a.939.939,0,0,0,1.325,0l4.3-4.3a.939.939,0,0,0,0-1.326Z" id="cross" transform="translate(-0.001 -0.001)"/>
            </svg>
        </a>
        <nav class="mobile-menu--text">
            <ul>
                <li><a href="#" class="active">Accueil</a></li>
                <li><a href="#">Événement</a></li>
                <li><a href="#">Carte & Prix</a></li>
                <li><a href="#">Le concept</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><span class="iceroll-spirale"><img src="../images/iceroll-spirale.png" alt="iceroll spirale"></span></a></li>
            </ul>
        </nav>
        <nav class="social--row-icon">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.751" height="40" viewBox="0 0 34.751 40">
                            <path id="tiktok"
                                  d="M85.627.033C87.811,0,89.977.017,92.144,0a10.381,10.381,0,0,0,2.917,6.95,11.754,11.754,0,0,0,7.067,2.983V16.65a17.838,17.838,0,0,1-7-1.617,20.589,20.589,0,0,1-2.7-1.55c-.017,4.867.017,9.733-.033,14.583a12.73,12.73,0,0,1-2.25,6.567,12.417,12.417,0,0,1-9.85,5.35,12.153,12.153,0,0,1-6.8-1.717,12.568,12.568,0,0,1-6.083-9.517c-.033-.833-.05-1.667-.017-2.483a12.547,12.547,0,0,1,14.55-11.133c.033,2.467-.067,4.933-.067,7.4a5.718,5.718,0,0,0-7.3,3.533,6.611,6.611,0,0,0-.233,2.683,5.672,5.672,0,0,0,5.833,4.783,5.6,5.6,0,0,0,4.617-2.683,3.845,3.845,0,0,0,.683-1.767c.167-2.983.1-5.95.117-8.933.017-6.717-.017-13.417.033-20.116Z"
                                  transform="translate(-67.376)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <path id="facebook"
                                  d="M36.25,0H3.75A3.761,3.761,0,0,0,0,3.75v32.5A3.761,3.761,0,0,0,3.75,40H20V22.5H15v-5h5V15a7.512,7.512,0,0,1,7.5-7.5h5v5h-5A2.507,2.507,0,0,0,25,15v2.5h7.5l-1.25,5H25V40H36.25A3.761,3.761,0,0,0,40,36.25V3.75A3.761,3.761,0,0,0,36.25,0Z"
                                  fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56.873" height="40" viewBox="0 0 56.873 40">
                            <path id="youtube"
                                  d="M56.4,84.531s-.555-3.921-2.266-5.643a8.143,8.143,0,0,0-5.7-2.41C40.478,75.9,28.537,75.9,28.537,75.9h-.022s-11.941,0-19.894.578a8.143,8.143,0,0,0-5.7,2.41C1.211,80.61.667,84.531.667,84.531A86.282,86.282,0,0,0,.1,93.74v4.31a86.558,86.558,0,0,0,.567,9.209s.555,3.921,2.255,5.643c2.166,2.266,5.01,2.188,6.276,2.433,4.554.433,19.339.566,19.339.566s11.952-.022,19.906-.589a8.143,8.143,0,0,0,5.7-2.41c1.711-1.722,2.266-5.643,2.266-5.643a86.282,86.282,0,0,0,.567-9.209V93.74a88.31,88.31,0,0,0-.578-9.209Zm-33.746,18.75V87.3l15.362,8.02-15.362,7.964Z"
                                  transform="translate(-0.1 -75.9)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<div class="site-cover" id="site-cover"></div>
<main>
    <aside class="heading__social hidden-down">
        <nav class="social--row-icon">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.751" height="40" viewBox="0 0 34.751 40">
                            <path id="tiktok"
                                  d="M85.627.033C87.811,0,89.977.017,92.144,0a10.381,10.381,0,0,0,2.917,6.95,11.754,11.754,0,0,0,7.067,2.983V16.65a17.838,17.838,0,0,1-7-1.617,20.589,20.589,0,0,1-2.7-1.55c-.017,4.867.017,9.733-.033,14.583a12.73,12.73,0,0,1-2.25,6.567,12.417,12.417,0,0,1-9.85,5.35,12.153,12.153,0,0,1-6.8-1.717,12.568,12.568,0,0,1-6.083-9.517c-.033-.833-.05-1.667-.017-2.483a12.547,12.547,0,0,1,14.55-11.133c.033,2.467-.067,4.933-.067,7.4a5.718,5.718,0,0,0-7.3,3.533,6.611,6.611,0,0,0-.233,2.683,5.672,5.672,0,0,0,5.833,4.783,5.6,5.6,0,0,0,4.617-2.683,3.845,3.845,0,0,0,.683-1.767c.167-2.983.1-5.95.117-8.933.017-6.717-.017-13.417.033-20.116Z"
                                  transform="translate(-67.376)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <path id="facebook"
                                  d="M36.25,0H3.75A3.761,3.761,0,0,0,0,3.75v32.5A3.761,3.761,0,0,0,3.75,40H20V22.5H15v-5h5V15a7.512,7.512,0,0,1,7.5-7.5h5v5h-5A2.507,2.507,0,0,0,25,15v2.5h7.5l-1.25,5H25V40H36.25A3.761,3.761,0,0,0,40,36.25V3.75A3.761,3.761,0,0,0,36.25,0Z"
                                  fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56.873" height="40" viewBox="0 0 56.873 40">
                            <path id="youtube"
                                  d="M56.4,84.531s-.555-3.921-2.266-5.643a8.143,8.143,0,0,0-5.7-2.41C40.478,75.9,28.537,75.9,28.537,75.9h-.022s-11.941,0-19.894.578a8.143,8.143,0,0,0-5.7,2.41C1.211,80.61.667,84.531.667,84.531A86.282,86.282,0,0,0,.1,93.74v4.31a86.558,86.558,0,0,0,.567,9.209s.555,3.921,2.255,5.643c2.166,2.266,5.01,2.188,6.276,2.433,4.554.433,19.339.566,19.339.566s11.952-.022,19.906-.589a8.143,8.143,0,0,0,5.7-2.41c1.711-1.722,2.266-5.643,2.266-5.643a86.282,86.282,0,0,0,.567-9.209V93.74a88.31,88.31,0,0,0-.578-9.209Zm-33.746,18.75V87.3l15.362,8.02-15.362,7.964Z"
                                  transform="translate(-0.1 -75.9)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <section>
        <picture class="banner banner-concept">
            <source media="(max-width:768px)" srcset="../images/japan-business-768.jpg 768w">
            <source media="(min-width:769px) and (max-width:1000px)" srcset="../images/japan-business-1000.jpg 1000w">
            <source media="(min-width:1001px) and (max-width:1920px)" srcset="../images/japan-business.jpg 1920w">
            <source media="(min-width:1921px)" srcset="../images/japan-business-2048.jpg">
            <img src="../images/japan-business.jpg" alt="Dany Eldora geneve">
        </picture>
        <div class="container splash splash-over-image align-items-center align-items-center-medium-up align-items-end-medium-down">
            <img src="../images/background-fruit-4-300.png" alt="flying blueberry" class="background-image-over background-fruit-4">
            <img src="../images/background-icercream-4-400.png" alt="flying icecream blueberry" class="background-image-under background-icecream-4">
            <div class="splash-text mt-20 mb-50 mb-small-100">
                <img class="home-logo" src="../images/logo-iceRollDelice-inline.svg" alt="Web site logo iceroll delice">
                <h1 class="txt-l big-title">UN DESSERT ORIGINAL FAIT PAR DES GLACIERS QUI  FONT LE SHOW</h1>
                <div class="row-top gutter-start gutter mt-10">
                    <div class="col-12 col-md-3">
                        <a href="#"><button class="btn btn-primary">Voir la vidéo</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clouds">
            <img srcset="../images/cloud-1.png 1920w, ../images/cloud-1-1000.png 1000w, ../images/cloud-1-768.png 7680w, ../images/cloud-1-640.png 640w, " src="../images/cloud-1.png" style="--i:1;" alt="nuage">
            <img srcset="../images/cloud-2.png 1920w, ../images/cloud-2-768.png 7680w, ../images/cloud-2-640.png 640w, " src="../images/cloud-2.png" style="--i:2;" alt="nuage">
            <img srcset="../images/cloud-3.png 1920w, ../images/cloud-3-768.png 7680w, ../images/cloud-3-640.png 640w, " src="../images/cloud-3.png" style="--i:3;" alt="nuage">
            <img srcset="../images/cloud-4.png 1920w, ../images/cloud-4-768.png 7680w, ../images/cloud-4-640.png 640w, " src="../images/cloud-4.png" style="--i:4;" alt="nuage">
            <img srcset="../images/cloud-4.png 1920w, ../images/cloud-4-768.png 7680w, ../images/cloud-4-640.png 640w, " src="../images/cloud-5.png" style="--i:5;" alt="nuage">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row-stretch gutter gutter-columns">
                <div class="col-12 col-md-6 hidden-up">
                    <div class="gallery__figure">
                        <figure>
                            <img src="../images/jeremy-1-544.jpg" alt="cuisinier iceroller jeremy">
                            <figcaption class="text-caption caption-center">Le glacier fait son spectacle pour chaque personne</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="gallery__text">
                        <h3>Une nouvelle cuisine, une cuisine froide</h3>
                        <p>Ces machines icerolls permettent de réaliser des mets froids de toutes sortes. Aussi bien des entrées froides que des desserts sont réalisables. C’est une petite révolution technique dans l’art de la gastronomie. En effet, tout se congèle presque instantanément grâce à un condensateur situé sous la plaque givrante. Cette nouvelle cuisine laisse libre court à l’imagination des cuisiniers qui l’utilisent dans la recherche gastronomique afin d’élaborer de nouveaux mets raffinés.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 hidden-down">
                    <div class="gallery__figure">
                        <figure>
                            <img src="../images/jeremy-1-544.jpg" alt="cuisinier iceroller jeremy">
                            <figcaption class="text-caption caption-center">Le glacier fait son spectacle pour chaque personne</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="gallery__figure">
                        <figure>
                            <img src="../images/dany-1-544.jpg" alt="cuisinier iceroller dany">
                            <figcaption class="text-caption caption-center">
                                Un goût réalisé grâce à l’expérience et le savoir faire
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="gallery__text">
                        <h3>Mais d’où ça vient ?</h3>
                        <p>A l’origine, ce type de machine nous provient du Japon, mais les pays tropicaux ont eu plus de succès pour démocratiser le concept dans le Sud-Est asiatique; en Thaïlande notamment, car ils peuvent le faire directement dans la rue, devant les passants.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="mt-200 mt-small-100 mb-200 mb-small-100">
        <figure  class="gallery__banner">
            <img srcset="../images/miam-festival-1000.jpg 1000w" src="../images/miam-festival.jpg" alt="Les glaces roulées au miam festival de Lausanne">
            <figcaption class="text-caption caption-center">Miam Festival</figcaption>
        </figure>
    </aside>
    <section>
        <div class="container">
            <div class="row-stretch gutter gutter-columns">
                <div class="col-12 col-md-6 hidden-up">
                    <div class="gallery__figure">
                        <figure>
                            <img src="../images/renens-544.jpg" alt="Les desserts glacés aux marchlé de renens">
                            <figcation class="text-caption caption-top-left">Marché de Renens</figcation>
                        </figure>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="gallery__text">
                        <h3>Vos invités seront ébahi avec un concept original de glaces faites devant vous !</h3>
                        <p>Soyez témoins de la transformation de fruits frais en une réalisation artistique. Le tout garanti sans additif ni conservateur.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 hidden-down">
                    <div class="gallery__figure">
                        <figure>
                            <img src="../images/renens-544.jpg" alt="Les desserts glacés aux marchlé de renens">
                            <figcation class="text-caption caption-top-left">Marché de Renens</figcation>
                        </figure>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="gallery__figure">
                        <figure>
                            <img src="../images/minimum-544.jpg" alt="Vers la jetée de la compagnie, le bar minimum au bord du lac Léman à Lausanne">
                            <figcation class="text-caption caption-top-left">Bar Minimum</figcation>
                        </figure>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="gallery__text">
                        <p>La manière de concevoir un dessert devant un public créé le spectacle et captive assez facilement les personnes qui regardent le processus de création. Chaque glace se fait différemment et le glacier doit alors adapter sa façon de faire pour réaliser de beaux rouleaux appétissants.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-small-50 mb-small-50 mt-100 mb-100">
        <div class="swiper__container">
            <div class="swiper-l">
                <h2 class="mb-20">La galerie des glaces roulées</h2>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-default">
                            <img src="../images/glace-avocat-334.jpg" alt="Glace avocat">
                            <figcaption><p>Avocat</p></figcaption>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-mangue-334.jpg" alt="Glace mangue">
                            <figcaption><p>Mangue</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-fraise-334.jpg" alt="Glace-fraise">
                            <figcaption><p>Fraise</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-vanille-334.jpg"
                                 alt="Glace vanille">
                            <figcaption><p>Vanille</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-maracuja-334.jpg" alt="Géace maracuja">
                            <figcaption><p>Fruit de la passion</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-framboise-334.jpg" alt="Glace framboise">
                            <figcaption><p>Framboise</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-caramel-334.jpg" alt="Glace caramel">
                            <figcaption><p>Caramel</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-chocolat-334.jpg" alt="Glace chocolat">
                            <figcaption><p>Chocolat</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-pistache-334.jpg"
                                 alt="Glace pistache">
                            <figcaption><p>Pistache</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-mure-334.jpg" alt="Glace mure">
                            <figcaption><p>Mùre</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-default">
                            <img src="../images/glace-oreo-334.jpg"
                                 alt="Géace oreo">
                            <figcaption><p>Oreo</p></figcaption>
                        </figure>
                    </div>
                    <div class="swiper-slide">
                        <figure class="card-button">
                            <a href="#">
                                <img src="../images/glace-action-334.jpg" alt="Glace action">
                                <button>Voir plus</button>
                                <figcaption><p>Voir</p></figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="shadow-overflow"></div>
        </div>
    </section>
</main>
<footer>
    <div class="container pb-50">
        <div class="row-top">
            <div class="col-12 col-md-12">
                <nav class="footer__nav--links">
                    <ul>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mt-50 col-12 col-md-12">
                <nav class="social--row-icon">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34.751" height="40" viewBox="0 0 34.751 40">
                                    <path id="tiktok"
                                          d="M85.627.033C87.811,0,89.977.017,92.144,0a10.381,10.381,0,0,0,2.917,6.95,11.754,11.754,0,0,0,7.067,2.983V16.65a17.838,17.838,0,0,1-7-1.617,20.589,20.589,0,0,1-2.7-1.55c-.017,4.867.017,9.733-.033,14.583a12.73,12.73,0,0,1-2.25,6.567,12.417,12.417,0,0,1-9.85,5.35,12.153,12.153,0,0,1-6.8-1.717,12.568,12.568,0,0,1-6.083-9.517c-.033-.833-.05-1.667-.017-2.483a12.547,12.547,0,0,1,14.55-11.133c.033,2.467-.067,4.933-.067,7.4a5.718,5.718,0,0,0-7.3,3.533,6.611,6.611,0,0,0-.233,2.683,5.672,5.672,0,0,0,5.833,4.783,5.6,5.6,0,0,0,4.617-2.683,3.845,3.845,0,0,0,.683-1.767c.167-2.983.1-5.95.117-8.933.017-6.717-.017-13.417.033-20.116Z"
                                          transform="translate(-67.376)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                                    <path id="facebook"
                                          d="M36.25,0H3.75A3.761,3.761,0,0,0,0,3.75v32.5A3.761,3.761,0,0,0,3.75,40H20V22.5H15v-5h5V15a7.512,7.512,0,0,1,7.5-7.5h5v5h-5A2.507,2.507,0,0,0,25,15v2.5h7.5l-1.25,5H25V40H36.25A3.761,3.761,0,0,0,40,36.25V3.75A3.761,3.761,0,0,0,36.25,0Z"
                                          fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="56.873" height="40" viewBox="0 0 56.873 40">
                                    <path id="youtube"
                                          d="M56.4,84.531s-.555-3.921-2.266-5.643a8.143,8.143,0,0,0-5.7-2.41C40.478,75.9,28.537,75.9,28.537,75.9h-.022s-11.941,0-19.894.578a8.143,8.143,0,0,0-5.7,2.41C1.211,80.61.667,84.531.667,84.531A86.282,86.282,0,0,0,.1,93.74v4.31a86.558,86.558,0,0,0,.567,9.209s.555,3.921,2.255,5.643c2.166,2.266,5.01,2.188,6.276,2.433,4.554.433,19.339.566,19.339.566s11.952-.022,19.906-.589a8.143,8.143,0,0,0,5.7-2.41c1.711-1.722,2.266-5.643,2.266-5.643a86.282,86.282,0,0,0,.567-9.209V93.74a88.31,88.31,0,0,0-.578-9.209Zm-33.746,18.75V87.3l15.362,8.02-15.362,7.964Z"
                                          transform="translate(-0.1 -75.9)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/form.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/animation.js"></script>
    <!--script src="../js/form-localstorage.js"></script-->
</footer>
</body>
</html>