<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <title>Document</title>
</head>
<body>
<header class="header">
    <a href="#" class="header__logo header__logo--up ml-10 hidden-down"><img
                src="../images/logo-iceRollDelice-inline.png" alt="logo iceroll delice"></a>
    <a href="#" class="header__logo header__logo--down hidden-up"><img src="../images/logo-iceRollDelice-inline.png"
                                                                       alt="logo iceroll delice"></a>
    <nav class="header__nav-links hidden-down">
        <ul>
            <li><a href="#" class="active">Accueil</a></li>
            <li><a href="#">Événement</a></li>
            <li><a href="#">Carte & Prix</a></li>
            <li><a href="#">Le concept</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#"><span class="iceroll-spirale"><img src="../images/iceroll-spirale.png"
                                                               alt="iceroll spirale"></span></a></li>
        </ul>
    </nav>
    <div class="navbar--groupe hidden-up">
        <a class="navbar--link" href="#">
            <button class="btn btn-accent">Devis</button>
        </a>
        <a class="navbar-toggle" href="#" id="header-icon-links">
            <svg height="21.667" id="menu" viewBox="0 0 30 21.667" width="30" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.75,125.305H1.25a1.321,1.321,0,0,1,0-2.637h27.5a1.321,1.321,0,0,1,0,2.637Zm0,0"
                      data-name="Tracé 1" id="Tracé_1" transform="translate(0 -113.153)"/>
                <path
                        d="M28.75,2.637H1.25A1.286,1.286,0,0,1,0,1.319,1.286,1.286,0,0,1,1.25,0h27.5A1.286,1.286,0,0,1,30,1.319,1.286,1.286,0,0,1,28.75,2.637Zm0,0"
                        data-name="Tracé 2" id="Tracé_2"/>
                <path d="M28.75,247.969H1.25a1.321,1.321,0,0,1,0-2.637h27.5a1.321,1.321,0,0,1,0,2.637Zm0,0"
                      data-name="Tracé 3" id="Tracé_3" transform="translate(0 -226.303)"/>
            </svg>
        </a>
    </div>
</header>
<!-- MOBILE NAVIGATION MENU -->
<aside class="mobile-menu mobile-menu--right mobile-menu-links clearfix">
    <div class="mobile-menu--container">
        <a class="exit-menu" href="#" id="exit-menu-links">
            <svg height="30" viewbox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg')}}">
                <path d="M29.728,24.1h0l-9.1-9.1,9.1-9.1h0a.94.94,0,0,0,0-1.326l-4.3-4.3a.94.94,0,0,0-1.326,0h0L15,9.376,5.9.275h0a.94.94,0,0,0-1.326,0l-4.3,4.3a.94.94,0,0,0,0,1.326h0l9.1,9.1-9.1,9.1h0a.94.94,0,0,0,0,1.326l4.3,4.3a.94.94,0,0,0,1.326,0h0l9.1-9.1,9.1,9.1h0a.939.939,0,0,0,1.325,0l4.3-4.3a.939.939,0,0,0,0-1.326Z"
                      id="cross" transform="translate(-0.001 -0.001)"/>
            </svg>
        </a>
        <nav class="mobile-menu--text">
            <ul>
                <li><a href="#" class="active">Accueil</a></li>
                <li><a href="#">Événement</a></li>
                <li><a href="#">Carte & Prix</a></li>
                <li><a href="#">Le concept</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><span class="iceroll-spirale"><img src="../images/iceroll-spirale.png"
                                                                   alt="iceroll spirale"></span></a></li>
            </ul>
        </nav>
        <nav class="social--row-icon">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.751" height="40" viewBox="0 0 34.751 40">
                            <path id="tiktok"
                                  d="M85.627.033C87.811,0,89.977.017,92.144,0a10.381,10.381,0,0,0,2.917,6.95,11.754,11.754,0,0,0,7.067,2.983V16.65a17.838,17.838,0,0,1-7-1.617,20.589,20.589,0,0,1-2.7-1.55c-.017,4.867.017,9.733-.033,14.583a12.73,12.73,0,0,1-2.25,6.567,12.417,12.417,0,0,1-9.85,5.35,12.153,12.153,0,0,1-6.8-1.717,12.568,12.568,0,0,1-6.083-9.517c-.033-.833-.05-1.667-.017-2.483a12.547,12.547,0,0,1,14.55-11.133c.033,2.467-.067,4.933-.067,7.4a5.718,5.718,0,0,0-7.3,3.533,6.611,6.611,0,0,0-.233,2.683,5.672,5.672,0,0,0,5.833,4.783,5.6,5.6,0,0,0,4.617-2.683,3.845,3.845,0,0,0,.683-1.767c.167-2.983.1-5.95.117-8.933.017-6.717-.017-13.417.033-20.116Z"
                                  transform="translate(-67.376)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <path id="facebook"
                                  d="M36.25,0H3.75A3.761,3.761,0,0,0,0,3.75v32.5A3.761,3.761,0,0,0,3.75,40H20V22.5H15v-5h5V15a7.512,7.512,0,0,1,7.5-7.5h5v5h-5A2.507,2.507,0,0,0,25,15v2.5h7.5l-1.25,5H25V40H36.25A3.761,3.761,0,0,0,40,36.25V3.75A3.761,3.761,0,0,0,36.25,0Z"
                                  fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56.873" height="40" viewBox="0 0 56.873 40">
                            <path id="youtube"
                                  d="M56.4,84.531s-.555-3.921-2.266-5.643a8.143,8.143,0,0,0-5.7-2.41C40.478,75.9,28.537,75.9,28.537,75.9h-.022s-11.941,0-19.894.578a8.143,8.143,0,0,0-5.7,2.41C1.211,80.61.667,84.531.667,84.531A86.282,86.282,0,0,0,.1,93.74v4.31a86.558,86.558,0,0,0,.567,9.209s.555,3.921,2.255,5.643c2.166,2.266,5.01,2.188,6.276,2.433,4.554.433,19.339.566,19.339.566s11.952-.022,19.906-.589a8.143,8.143,0,0,0,5.7-2.41c1.711-1.722,2.266-5.643,2.266-5.643a86.282,86.282,0,0,0,.567-9.209V93.74a88.31,88.31,0,0,0-.578-9.209Zm-33.746,18.75V87.3l15.362,8.02-15.362,7.964Z"
                                  transform="translate(-0.1 -75.9)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<div class="site-cover" id="site-cover"></div>
<main>
    <aside class="heading__social hidden-down">
        <nav class="social--row-icon">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34.751" height="40" viewBox="0 0 34.751 40">
                            <path id="tiktok"
                                  d="M85.627.033C87.811,0,89.977.017,92.144,0a10.381,10.381,0,0,0,2.917,6.95,11.754,11.754,0,0,0,7.067,2.983V16.65a17.838,17.838,0,0,1-7-1.617,20.589,20.589,0,0,1-2.7-1.55c-.017,4.867.017,9.733-.033,14.583a12.73,12.73,0,0,1-2.25,6.567,12.417,12.417,0,0,1-9.85,5.35,12.153,12.153,0,0,1-6.8-1.717,12.568,12.568,0,0,1-6.083-9.517c-.033-.833-.05-1.667-.017-2.483a12.547,12.547,0,0,1,14.55-11.133c.033,2.467-.067,4.933-.067,7.4a5.718,5.718,0,0,0-7.3,3.533,6.611,6.611,0,0,0-.233,2.683,5.672,5.672,0,0,0,5.833,4.783,5.6,5.6,0,0,0,4.617-2.683,3.845,3.845,0,0,0,.683-1.767c.167-2.983.1-5.95.117-8.933.017-6.717-.017-13.417.033-20.116Z"
                                  transform="translate(-67.376)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <path id="facebook"
                                  d="M36.25,0H3.75A3.761,3.761,0,0,0,0,3.75v32.5A3.761,3.761,0,0,0,3.75,40H20V22.5H15v-5h5V15a7.512,7.512,0,0,1,7.5-7.5h5v5h-5A2.507,2.507,0,0,0,25,15v2.5h7.5l-1.25,5H25V40H36.25A3.761,3.761,0,0,0,40,36.25V3.75A3.761,3.761,0,0,0,36.25,0Z"
                                  fill="#fff"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="56.873" height="40" viewBox="0 0 56.873 40">
                            <path id="youtube"
                                  d="M56.4,84.531s-.555-3.921-2.266-5.643a8.143,8.143,0,0,0-5.7-2.41C40.478,75.9,28.537,75.9,28.537,75.9h-.022s-11.941,0-19.894.578a8.143,8.143,0,0,0-5.7,2.41C1.211,80.61.667,84.531.667,84.531A86.282,86.282,0,0,0,.1,93.74v4.31a86.558,86.558,0,0,0,.567,9.209s.555,3.921,2.255,5.643c2.166,2.266,5.01,2.188,6.276,2.433,4.554.433,19.339.566,19.339.566s11.952-.022,19.906-.589a8.143,8.143,0,0,0,5.7-2.41c1.711-1.722,2.266-5.643,2.266-5.643a86.282,86.282,0,0,0,.567-9.209V93.74a88.31,88.31,0,0,0-.578-9.209Zm-33.746,18.75V87.3l15.362,8.02-15.362,7.964Z"
                                  transform="translate(-0.1 -75.9)" fill="#fff"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="background-gradient-2"></div>
    <section class="pt-50 pt-small-50">
        <div class="container">
            <form class="form-container mb-100 mt-small-50">
                <div class="form-box">
                    <div class="form-box__left"></div>
                    <div class="form-box__right">
                        <div class="row-top gutter">
                            <div class="col-md-12">
                                <h2 class="pt-30 pb-10">Nous sommes à votre diposition</h2>
                                <h3 class="mt-20 mb-20">Formulaire de contact</h3>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="field-radio">
                                    <input id="female" value="female" name="gender" type="radio" class="field-radio">
                                    <label for="female" class="field-label-radio">Femme</label>
                                </div>
                                <div class="field-radio">
                                    <input id="male" value="male" name="gender" type="radio" class="field-radio">
                                    <label for="male" class="field-label-radio">Homme</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="field">
                                    <label for="firstname" class="field-label">Prénom</label>
                                    <input id="firstname" type="text" class="field-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="field">
                                    <label for="lastname" class="field-label">Nom</label>
                                    <input id="lastname" type="text" class="field-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="field">
                                    <label for="email" class="field-label">Email</label>
                                    <input id="email" type="text" class="field-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="field">
                                    <label for="phone" class="field-label">Mobile</label>
                                    <input id="phone" type="text" class="field-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="field">
                                    <label for="event" class="field-label">Type d'événement</label>
                                    <input id="event" type="text" class="field-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="field">
                                    <label for="guest" class="field-label">Nombre de convives</label>
                                    <input id="guest" type="text" class="field-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="field">
                                    <label for="subject" class="field-label">Sujet du mail</label>
                                    <input id="subject" type="text" class="field-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="textarea field-message">
                                    <label for="textarea" class="field-label-message">Message</label>
                                    <textarea id="textarea" type="textarea" class="field-textarea"></textarea>
                                </div>
                            </div>
                            <div class="center-center mb-20">
                                <button class="btn btn-success">Envoyez le mail</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<footer>
    <div class="container pb-50">
        <div class="row-top">
            <div class="col-12 col-md-12">
                <nav class="footer__nav--links">
                    <ul>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </nav>
            </div>
            <div class="mt-50 col-12 col-md-12">
                <nav class="social--row-icon">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34.751" height="40"
                                     viewBox="0 0 34.751 40">
                                    <path id="tiktok"
                                          d="M85.627.033C87.811,0,89.977.017,92.144,0a10.381,10.381,0,0,0,2.917,6.95,11.754,11.754,0,0,0,7.067,2.983V16.65a17.838,17.838,0,0,1-7-1.617,20.589,20.589,0,0,1-2.7-1.55c-.017,4.867.017,9.733-.033,14.583a12.73,12.73,0,0,1-2.25,6.567,12.417,12.417,0,0,1-9.85,5.35,12.153,12.153,0,0,1-6.8-1.717,12.568,12.568,0,0,1-6.083-9.517c-.033-.833-.05-1.667-.017-2.483a12.547,12.547,0,0,1,14.55-11.133c.033,2.467-.067,4.933-.067,7.4a5.718,5.718,0,0,0-7.3,3.533,6.611,6.611,0,0,0-.233,2.683,5.672,5.672,0,0,0,5.833,4.783,5.6,5.6,0,0,0,4.617-2.683,3.845,3.845,0,0,0,.683-1.767c.167-2.983.1-5.95.117-8.933.017-6.717-.017-13.417.033-20.116Z"
                                          transform="translate(-67.376)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                                    <path id="facebook"
                                          d="M36.25,0H3.75A3.761,3.761,0,0,0,0,3.75v32.5A3.761,3.761,0,0,0,3.75,40H20V22.5H15v-5h5V15a7.512,7.512,0,0,1,7.5-7.5h5v5h-5A2.507,2.507,0,0,0,25,15v2.5h7.5l-1.25,5H25V40H36.25A3.761,3.761,0,0,0,40,36.25V3.75A3.761,3.761,0,0,0,36.25,0Z"
                                          fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="56.873" height="40"
                                     viewBox="0 0 56.873 40">
                                    <path id="youtube"
                                          d="M56.4,84.531s-.555-3.921-2.266-5.643a8.143,8.143,0,0,0-5.7-2.41C40.478,75.9,28.537,75.9,28.537,75.9h-.022s-11.941,0-19.894.578a8.143,8.143,0,0,0-5.7,2.41C1.211,80.61.667,84.531.667,84.531A86.282,86.282,0,0,0,.1,93.74v4.31a86.558,86.558,0,0,0,.567,9.209s.555,3.921,2.255,5.643c2.166,2.266,5.01,2.188,6.276,2.433,4.554.433,19.339.566,19.339.566s11.952-.022,19.906-.589a8.143,8.143,0,0,0,5.7-2.41c1.711-1.722,2.266-5.643,2.266-5.643a86.282,86.282,0,0,0,.567-9.209V93.74a88.31,88.31,0,0,0-.578-9.209Zm-33.746,18.75V87.3l15.362,8.02-15.362,7.964Z"
                                          transform="translate(-0.1 -75.9)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/form.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/animation.js"></script>
</footer>
</body>
</html>